<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="//fonts.googleapis.com/css?family=Ubuntu:400,500i,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<meta name="generator" content="{{ eleventy.generator }}">

		{#- Add to the CSS bundle #}
		{%- css %}{% include "public/css/pico.min.css" %}{% include "public/css/custom.css" %}{% endcss %}

		{#- Render the CSS bundle #}
		{%- if eleventy.env.runMode === "serve" %}
		{# External files (local dev live reload will refresh without page reload) #}
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
		{%- else  %}
		{# Inlined CSS (fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{%- endif %}
	</head>
	<body>
<a href="#skip" class="visually-hidden">Skip to main content</a>
<header>
	<div class="hero-image">
		<div class="hero-text">
			<h1><a href="/">{{ metadata.title }}</a></h1>
			<h3>{{ description or metadata.description }}</h3>
		</div>
	<img id="extra-image" src="/img/headers/jack-and-iphone.png" />
	</div>
<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
</header>
		<main id="skip" class="container">
			{{ content | safe }}
		</main>

		<footer><span>© Jack Baty, 2023</span></footer>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
