---
layout: layouts/base.njk
---
{%- css %}
/* Only include the syntax highlighter CSS on blog posts */
{% include "node_modules/prismjs/themes/prism-okaidia.css" %}
{% include "static/css/prism-diff.css" %}
{%- endcss %}

<div class="welcome">
<h2>Hello, I'm Jack Baty. 🎉</h2>
<p>I write about technology, photography, software, analog tools, workflows, etc.<br>
I'd like to get back to work, so <strong><a href="https://baty.net/hire-me">Hire Me</a></strong>!</p>

</div>

{{ content | safe }}
