---
layout: layouts/base.njk
---
{%- css %}
/* Only include the syntax highlighter CSS on blog posts */
{% include "node_modules/prismjs/themes/prism-okaidia.css" %}
{% include "static/css/prism-diff.css" %}
{%- endcss %}

<div class="welcome">
<h2>Hello, I'm Jack Baty. This is my blog 🎉</h2>
I write about technology, photography, software, analog tools, etc.
</div>

{{ content | safe }}
