---
layout: layouts/base.njk
---
{%- css %}
/* Only include the syntax highlighter CSS on blog posts */
{% include "node_modules/prismjs/themes/prism-okaidia.css" %}
{% include "static/css/prism-diff.css" %}
{%- endcss %}


{{ content | safe }}
