---
layout: layouts/base.njk
---
{%- css %}
/* Only include the syntax highlighter CSS on blog posts */
{% include "node_modules/prismjs/themes/prism-okaidia.css" %}
{% include "public/css/prism-diff.css" %}
{%- endcss %}
<article class="singlePost">
<header>
<h2 class="dayHeader">{{ title }}</h2>
<div class="post-meta">
  {%- if tags.includes("post") %}
  <time class="" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  {%- endif %}
	<div class="tags-list">{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
	{%- endfor %}</div>
</div>

</header>

{{ content | safe }}


</article>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
